html{
    margin-top:0;
    padding-top:0;
}
body{
    background-color: rgb(219, 228, 238);
    margin-top:0;
    padding-top:0;
}
.header{
    top: 0;
    background-color: white;
    position:sticky;
    z-index: 1;

}
#communitiesList{


}
.content{
    background-color: rgb(219, 228, 238);
}
.main{
    width:93%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 26px;
}
.mainElement{
    background-color: white;
    margin-bottom: 20px;
}
#createPost{
    display: flex;
    padding: 8px;
}
#postInput{
    flex-grow: 4;
}
#postIcons{
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-around ;
}
.sortOptions{
    width: 400px;
    display: flex;
    justify-content: space-around;
    
}
.sortOption{
    display: flex;
    font-size: 22px;
    align-items: center;
}
.sortOption>p{
    margin: 0;
}
.sortOption:hover {
    color:blue;
}
/* @media (min-width:1600px){
    .main{
        max-width: 1400px;
        margin: 0 3%;
    }
} */
/* *{border: solid black;} */

.post{
    /* display: flex; */
    display: grid;
    grid-template-columns: 44px 1fr;
    border:  2px solid lightgray;
    
}
.postHeader{
    display: flex;
    justify-content: flex-start;
    gap:20px;
    padding-left: 20px;
}
.postVote{
    background-color: rgb(219, 233, 250);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top:5px;
}
.postScore{
    margin: 0;
    padding: 0;
}
.postBody{
    padding-top:5px;
    background-color: white;
}
.fadeoutText{
    -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
}
.postContent{
    -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 20px;
    font-size:20px;
}
.postTitle{
   font-size: 28px;
}
.postCommunity{
    font-weight: bold;
}

.selectedPost{
    width: 80%;
}